<div class="header pb-6">
    <div class=" container-fluid">
        <div class=" header-body">
            <div class=" row align-items-center py-4">
                <div class=" col-lg-6 col-7">
                    <h6 class=" h2 text-dark d-inline-block mb-0">Performance Management</h6>

                    <nav aria-label="breadcrumb" class=" d-none d-md-inline-block ml-md-4">
                        <ol class=" breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class=" breadcrumb-item">
                                <a href="javascript:void(0)"> <i class="fas fa-chart-bar text-dark"> </i> </a>
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mt--6">
    <div class="row">
        <div class="col-lg-4">
            <div clas="row">
                <div class="col">
                    <div class="card">
                        <div class="card-header bg-secondary py-3">
                            <h4 class="m-0">Financial KPI</h4>
                        </div>
                        <div id="chartdiv" style="width: 100%; height: 400px"></div>
                    </div>
                </div>
            </div>
            <div clas="row">
                <div class="col">
                    <div class="card">
                        <div class="card-header bg-secondary py-3">
                            <h4 class="m-0">Customer KPI</h4>
                        </div>
                        <div id="chartdiv1" style="width: 100%; height: 400px"></div>
                    </div>
                </div>
            </div>
            <div clas="row">
                <div class="col">
                    <div class="card">
                        <div class="card-header bg-secondary py-3">
                            <h4 class="m-0">Internal Business Process KPI</h4>
                        </div>
                        <div id="chartdiv2" style="width: 100%; height: 400px"></div>
                    </div>
                </div>
            </div>
            <div clas="row">
                <div class="col">
                    <div class="card">
                        <div class="card-header bg-secondary py-3">
                            <h4 class="m-0">Learning & Growth KPI</h4>
                        </div>
                        <div id="chartdiv3" style="width: 100%; height: 400px"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-header bg-secondary py-3">
                            <h4 class="m-0">Total Growth Chart</h4>
                        </div>
                        <div id="chartdiv4" style="width: 100%; height: 400px"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-header bg-secondary py-3">
                            <h4 class="m-0">Learning Growth Chart</h4>
                        </div>
                        <div id="chartdiv5" style="width: 100%; height: 400px"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-header bg-secondary py-3">
                            <h4 class="m-0">Internal Growth Chart</h4>
                        </div>
                        <div id="chartdiv6" style="width: 100%; height: 400px"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-header bg-secondary py-3">
                            <h4 class="m-0">Department Growth Chart</h4>
                        </div>
                        <div id="chartdiv7" style="width: 100%; height: 400px"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>